<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:with="member=${#authentication.principal.member}">


<h1> ADMIN PAGE [[${member.mname}]] </h1> 

<div sec:authorize="hasRole('MEMBER')">MEMBER MENU</div>
<div sec:authorize="hasRole('BUYER')">BUYER MENU</div>
<div sec:authorize="hasRole('ADMIN')">ADMIN MENU</div>
<div sec:authorize="isAuthenticated()">LOGIN</div>


</body>
</html>